*{margin:0px;padding:0px;}
body{font-family: "Open Sans";}
img{
    max-width: 100%;}

/* Header */
.top{
    background-color: #21A999;
    padding: 40px 0px;
}
div.logo{/* max-width: 300px; *//* float: left; */}
img.logo{
    max-width: 200px;
}

div.form{
    float: left;
}
form.form{
    /* width: 100%; */
    float: right;
}
form.form-search input{
    border: none;
    padding: 10px 12px;
    background-color: #3cd2c0;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    height: 36px;
    float: left;
}
form.form-search button{
    background: #f7921e;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding: 6px 12px;
    border: 2px solid #f7921e;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

/* Menu */
.menu{
    background: #219285;
}
.menu a{
    color: #fff;
    font-size: 1.2em;
}
.menu li a:hover{
    background: #f7921e;
    color: #fff;
}

/* Slide */
.slide{
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.slide img{
}

img.img-slide-big{
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}
img.img-slide-small{}
.text-slide{
    position: absolute;
    bottom: 0px;
    margin: 0px;
    font-size: 2em;
    background: #000;
    opacity: 0.6;
    z-index: 2;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.img-big{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom:16px;
}

.img-small{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
}

.img-small h1.text-slide{
    font-size:1em;
    width:100%;
    text-align: center;
}